$icon1: " %3Csvg height=85" width="85" viewBox="0 0 85 85" xmlns="http://www.w3.org/2000/svg"
		  %3E%3Cpath d="M45.7871 7C30.8453 7 17.7959 14.0554 10.7871 24.5H18.8504C22.3716 20.4604 
		  27.0661 17.2216 32.5065 15.1974C30.7391 17.7933 29.2657 20.9504 28.1257 24.5H35.2337C37.8983 
		  17.3279 41.9724 12.8333 45.7871 12.8333C49.6018 12.8333 53.6759 17.3279 56.3405 24.5H63.4485C62.3085
		  20.9504 60.8351 17.7933 59.0677 15.1974C64.5115 17.2216 69.2092 20.4604 72.7305 24.5H80.7871C73.7749 
		  14.0554 60.7289 7 45.7871 7ZM69.5157 33.626C64.8881 33.626 61.8807 35.7546 61.8807 38.9979C61.8807 
		  41.6112 63.6923 43.2654 67.2034 43.84L69.7331 44.2786C71.9254 44.6578 72.7634 45.1514 72.7634
	      46.0731C72.7634 47.1668 71.5183 47.9245 69.6936 47.9245C67.6732 47.9245 66.2741 47.1496 66.156
	      45.9421H61.4986C61.5795 49.1387 64.639 51.1203 69.4959 51.1203C74.5249 51.1203 77.5855 49.0282
	      77.5855 45.5661C77.5855 42.9323 75.8859 41.448 72.0915 40.8151L69.6145 40.3993C67.5908 40.0551 
	      66.7423 39.5262 66.7423 38.6162C66.7423 37.5137 67.8748 36.8104 69.5882 36.8104C71.3049 36.8104
	      72.5962 37.626 72.7041 38.7985H77.21C77.1291 35.7273 74.0117 33.626 69.5157 33.626ZM14.9241 
	      34.0589V50.6702H22.9874C28.7617 50.6702 31.9663 47.6592 31.9663 42.2051C31.9663 37.0163 28.7077 
	      34.0589 22.9874 34.0589H14.9241ZM38.3102 34.0703V50.6702H42.9413V41.2367H43.1982L51.2153 50.6702H55.0888V34.0703H50.4577V43.4128H50.2008L42.2034
	      34.0703H38.3102ZM19.8056 37.4541H22.1046C25.1807 37.4541 26.9926 39.1902 26.9926 42.2848C26.9926 45.5748
	      25.2717 47.2808 22.1046 47.2808H19.8056V37.4541ZM10.7871 59.5C17.7959 69.9446 30.8453 77 45.7871 77C60.7289
	      77 73.7783 69.9446 80.7871 59.5H72.7305C69.2092 63.5396 64.5148 66.7784 59.0743 68.8026C60.8417 66.2067 62.3085
	      63.0496 63.4485 59.5H56.3405C53.6793 66.6721 49.6084 71.1667 45.7937 71.1667C41.979 71.1667 37.9049 66.6721 35.2403 
	      59.5H28.1257C29.2657 63.0496 30.7391 66.2067 32.5065 68.8026C27.0627 66.7784 22.3716 63.5396
	       18.8504 59.5H10.7871Z /%3E%3C/svg%3E"


.icon1{
	background-image: url("data:image/svg+xml, #{$icon1}");
	background-size: cover;
} 